$whiteColour: #ffffff;
$accentColour: #5692e8;

$primaryBgColour: #eee;
$secondaryBgColour: #0e1a2b;
$thirdBgColour: #182c47;

$primaryGradientColour: linear-gradient(#081221, #03080f);

$textColour: #c1d1e8;


$Montserrat: 'Montserrat', sans-serif;
$Mulish: 'Mulish', sans-serif;


